.password-generator {
  &__password-strength {
    background-color: #18171f;
    text-transform: uppercase;
    display: flex;
    padding: 2rem 3rem;
    justify-content: space-between;
    font-weight: 500;
  }

  &__strength-text {
    color: #616569;
  }

  &__strength-indicator {
    display: flex;
    gap: 0.75rem;
    span {
      display: block;
      border: 0.2rem solid #e4e3ea;
      height: 100%;
      width: 1rem;
    }
  }

  .weak {
    span:nth-last-child(n + 4) {
      border: 0.2rem solid red;
      background-color: red;
    }
  }
  .medium {
    span:nth-last-child(n + 3) {
      border: 0.2rem solid #f3cd76;
      background-color: #f3cd76;
    }
  }
  .good {
    span:nth-last-child(n + 2) {
      border: 0.2rem solid #a5ffaf;
      background-color: #a5ffaf;
    }
  }
  .strong {
    span:nth-last-child(n + 1) {
      border: 0.2rem solid #00ff1e;
      background-color: #00ff1e;
    }
  }
}
