.password-generator {
  &__password-strength {
    background-color: $primary-color;
    text-transform: uppercase;
    display: flex;
    padding: 2rem 3rem;
    justify-content: space-between;
    font-weight: 500;
  }

  &__strength-text {
    color: $primary-text-color;
  }

  &__strength-indicator {
    display: flex;
    gap: 0.75rem;
    span {
      display: block;
      border: 0.2rem solid $secondary-text-color;
      height: 100%;
      width: 1rem;
    }
  }

  .weak {
    span:nth-last-child(n + 4) {
      border: 0.2rem solid $weak-color;
      background-color: $weak-color;
    }
  }
  .medium {
    span:nth-last-child(n + 3) {
      border: 0.2rem solid $medium-color;
      background-color: $medium-color;
    }
  }
  .good {
    span:nth-last-child(n + 2) {
      border: 0.2rem solid $good-color;
      background-color: $good-color;
    }
  }
  .strong {
    span:nth-last-child(n + 1) {
      border: 0.2rem solid $strong-color;
      background-color: $strong-color;
    }
  }
}
