.slider {
  position: relative;
  &__input {
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    height: 0.75rem;
    background: $primary-color;

    &:hover {
      cursor: pointer;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background: $secondary-text-color;
      position: relative;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background: $secondary-text-color;
      position: relative;
      cursor: pointer;
    }

    &::-webkit-slider-thumb:hover {
      background: $primary-color;
      border: 0.2rem solid $accent-color;
    }
    &::-moz-range-thumb:hover {
      background: $primary-color;
      border: 0.2rem solid $accent-color;
    }
  }
}
